@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito";
  background-color: #20062e;
}

@layer base {
  h1 {
    @apply text-5xl text-white;
  }
}

th,
td {
  padding-left: 17px;
  padding-right: 17px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-radius: 0 0 30px 30px;
  background-color: #ffffff;
  margin: 25px auto 25px auto;
  width: 40%;
  height: 55px;
  overflow: hidden;

  border: double 3.5px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #fb37ff, white, #18b2de);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
